<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LooP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/css/IndexStyle.css" rel="stylesheet" />
    <link href="~/Content/css/main.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/color.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">
        @Html.Partial("_NavigationBar")
        @RenderBody()
        <hr />
        <div>
            @Html.Partial("_Footer")
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
