@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "container d-flex align-items-center" }))
    {
        @Html.AntiForgeryToken()
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "get-started-btn scrollto" })
                </li>
                @*<li><a href="javascript:document.getElementById('logoutForm').submit()"> Log off </a></li>*@
                <li>@Html.ActionLink("Logout", "LogOut", "Home", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "get-started-btn scrollto" })</li>
            </ul>
        </nav>

    }
}
else
{
<nav class="nav-menu d-none d-lg-block">
    <ul>
        <li>@Html.ActionLink("Sign-In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "get-started-btn scrollto" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "get-started-btn scrollto" })</li>
    </ul>
</nav>
}







