@model Loop.Web.Models.IndexViewModel

@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Manage";
}


<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<link href="~/Content/vendor/Manage.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">



<div class="container-fluid" style="padding-top:55px;">
    <div class="row">
        <div class="col-12">
            <h4>Change your account settings</h4>
            <hr />

            <div class="share-button">
                <span>Settings <i class="icofont-settings"></i></span>
                <a href="/Manage/AddPhoneNumber"><i class="icofont-mobile-phone"></i></a>
                <a href="/Manage/ChangePassword"><i class="icofont-ui-password"></i></a>
                @if (User.IsInRole("Admin"))
                {
                    <a href="/User/Index"><i class="icofont-ui-edit"></i></a>
                }
                else
                {
                    <a href="/User/Edit/@User.Identity.GetUserId()"><i class="icofont-ui-edit"></i></a>
                }
                <a href="/Manage/ChangePassword"> <i class="icofont-logout"></i></a>
            </div>
            <br />
            <br />


            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Disable" class="get-started-btn scrollto" />
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Enable" class="get-started-btn scrollto" />
                    }
                }*@


            @Html.Partial("~/Views/Dashboard/_Stats.cshtml")
        </div>
        <br />
        <br />
    </div>
</div>



