@model Loop.Web.Models.RegisterViewModel

@{
    ViewBag.Title = "Create";
}




@{
    ViewBag.Title = "Edit";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <title>LooP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<hr>

@using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div id="edit-user" class="container ">

        <div class="col-sm-8 float-lg-right">
            <div class="tab-content">
                <div class="tab-pane active" id="home">

                    <div class="form-group">
                        <div class="col-xs-9">
                            @Html.LabelFor(model => model.UserName)<br />
                            @Html.EditorFor(model => model.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-9">
                            @Html.LabelFor(model => model.Email)<br />
                            @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-9">
                            @Html.LabelFor(model => model.PhoneNumber)<br />
                            @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PhoneNumber)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-9">
                            @Html.LabelFor(model => model.Password)<br />
                            @Html.EditorFor(model => model.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-9">
                            @Html.LabelFor(model => model.ConfirmPassword)<br />
                            @Html.EditorFor(model => model.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-9">
                            @Html.LabelFor(model => model.DateOfBirth)<br />
                            @Html.EditorFor(model => model.DateOfBirth, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DateOfBirth)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-9">
                            @Html.LabelFor(model => model.FirstName)<br />
                            @Html.EditorFor(model => model.FirstName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-9">
                            @Html.LabelFor(model => model.LastName)<br />
                            @Html.EditorFor(model => model.LastName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-9">
                            <b>Assign To Role</b>
                            <div style="width:35%">@Html.ListBox("SelectedRoleId", null, new { @class = "text-center center-block file-upload form-control" })</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-group" style="display:inline-block">
                                <button type="submit" value="Create" class="btn btn-sm btn-warning text-white">Create</button>
                            </div>
                            <div class="form-group" style="display:inline-block">
                                <div id="back-button">@Html.ActionLink("Back", "Index", null, new { @class = " btn btn-sm" })</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class=" col-sm-4 float-left">
            <div class="text-center">
                <img id="user-avatar" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo...</h6><br />
                <div class="col-xs-3">
                    <input type="file" class="text-center center-block file-upload" name="file" value="Upload Image" accept=".png,.jpg,.jpeg,.gif,.tif">
                </div>
            </div>
        </div>

    </div>
}



<script>

    $(document).ready(function () {


        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }


        $(".file-upload").on('change', function () {
            readURL(this);
        });
    });

</script>

