@model Loop.Web.Models.RegisterViewModel

@{
    ViewBag.Title = "Create";
}



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <title>LooP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<hr>

@using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <h4 class="text-center">Create A New User</h4>

    <div class="container ">
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->

                <div class="text-center">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                    <h6>Upload a different photo...</h6><br />
                    <div class="col-xs-6">
                        <input type="file" class="text-center center-block file-upload" name="file" value="Upload Image" accept=".png,.jpg,.jpeg,.gif,.tif">
                    </div>
                </div>
                <br />
                <br />

                <h3>Assign To Role</h3>
                <div class="text-center">
                    <div class="col-xs-6">
                        @Html.ListBox("SelectedRoleId", null, new { @class = "text-center center-block file-upload" })
                    </div>
                </div>
            </div><!--/col-3-->

            <div class="col-sm-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>

                        <div class="form-group">
                            <div class="col-xs-6">
                                @Html.LabelFor(model => model.UserName)
                                @Html.EditorFor(model => model.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                @Html.LabelFor(model => model.Email)
                                @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                @Html.LabelFor(model => model.Password)
                                @Html.EditorFor(model => model.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                @Html.LabelFor(model => model.ConfirmPassword)
                                @Html.EditorFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                @Html.LabelFor(model => model.PhoneNumber)
                                @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PhoneNumber)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                @Html.LabelFor(model => model.DateOfBirth)
                                @Html.EditorFor(model => model.DateOfBirth, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DateOfBirth)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                @Html.LabelFor(model => model.FirstName)
                                @Html.EditorFor(model => model.FirstName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                @Html.LabelFor(model => model.LastName)
                                @Html.EditorFor(model => model.LastName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                        </div>

                    </div><!--/tab-content-->

                </div><!--/col-9-->
            </div><!--/row-->
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>

    $(document).ready(function () {


        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }


        $(".file-upload").on('change', function () {
            readURL(this);
        });
    });

</script>
