@model Loop.Entities.Concrete.ApplicationUser

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


<title>LooP</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://kit.fontawesome.com/0e62a71725.js" crossorigin="anonymous"></script>

<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/vendor/secondary/main.min.css" rel="stylesheet" />
<link href="~/Content/vendor/secondary/style.css" rel="stylesheet" />
<link href="~/content/vendor/secondary/color.css" rel="stylesheet" />
<link href="~/content/vendor/secondary/responsive.css" rel="stylesheet" />


@{
    ViewBag.Title = "Index";
}

<div id="edit-user" class="container">

    <h2>Selected User</h2>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">

                <div class="row">

                    <div class="col-sm-6 col-md-8">
                        <h4>
                            @if (Model.Roles.Count > 0)
                            {
                                if (User.IsInRole("User"))
                                {
                                    <em>@Model.LastName @Model.FirstName - Admin</em>

                                }
                                else
                                {
                                    <em>@Model.LastName @Model.FirstName - User</em>
                                }
                            }
                            else
                            {
                                <em>@Model.LastName @Model.FirstName - Katit</em>
                            }

                        </h4>

                        <p>
                            @if (!(Model.Email == null))
                            {
                                <i class="glyphicon glyphicon-envelope"></i>@Model.Email
                            }
                            else
                            {
                                <i class="glyphicon glyphicon-envelope"> -- </i>
                            }
                            <br />
                            <i class="glyphicon glyphicon-lock"></i>@Model.UserName
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>@Model.DateOfBirth.GetValueOrDefault().ToShortDateString()
                            <br />
                            <br />
                            <i class="glyphicon glyphicon-user"></i>@Html.ActionLink("Account", "Details", new { id = Model.Id })
                        </p>

                    </div>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-sm btn-warning text-white" />
                    <span id="back-button">@Html.ActionLink("Back", "Index", null, new { @class = " btn btn-sm" })</span>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/Custom/main.min.js"></script>
<script src="~/Scripts/Custom/script.js"></script>

