@model IEnumerable<Loop.Entities.Concrete.ApplicationUser>



<title>LooP</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://kit.fontawesome.com/0e62a71725.js" crossorigin="anonymous"></script>

<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/vendor/secondary/main.min.css" rel="stylesheet" />
<link href="~/Content/vendor/secondary/style.css" rel="stylesheet" />
<link href="~/content/vendor/secondary/color.css" rel="stylesheet" />
<link href="~/content/vendor/secondary/responsive.css" rel="stylesheet" />


@{
    ViewBag.Title = "Index";
}

<div id="edit-user" class="container">

    <h2>All Users</h2>

    <div class="row">
        @foreach (var user in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">

                    <div class="more-post-optns">
                        <i class="fas fa-ellipsis-v"></i>
                        <ul>
                            <li><i class="fa fa-pencil-square-o"></i>@Html.ActionLink("Edit", "Edit", new { id = user.Id })</li>
                            <li>
                                <i class="fa fa-trash-o"></i>@Html.ActionLink("Delete", "Delete", new { id = user.Id })
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            @if (user.Images.Count > 0)
                            {
                                foreach (var item in user.Images)
                                {
                                    <img src="@Url.Content(item.ImgPath)" alt="" class="user-Image" />
                                    @*<img src="@Url.Content(item.ImgPath) " width="100" height="100" />*@
                                }
                            }
                            else
                            {
                                <img src="@Url.Content("~/Content/Avatars/chatbot.png")" alt="" class="user-Image" />
                            }
                        </div>

                        <div class="col-sm-6 col-md-8">
                            <h4>
                                @if (user.Roles.Count > 0)
                                {
                                    if (User.IsInRole("Admin"))
                                    {
                                        <em>@user.LastName @user.FirstName - Admin</em>
                                    }
                                    else
                                    {
                                        <em>@user.LastName @user.FirstName - User</em>
                                    }
                                }
                                else
                                {
                                    <em>@user.LastName @user.FirstName - User</em>
                                }

                            </h4>
                            <p>
                                @if (!(user.Email == null))
                                {
                                    <i class="glyphicon glyphicon-envelope"></i>@user.Email
                                }
                                else
                                {
                                    <i class="glyphicon glyphicon-envelope"> -- </i>
                                }
                                <br />
                                <i class="glyphicon glyphicon-lock"></i>@user.UserName
                                <br />
                                <i class="glyphicon glyphicon-gift"></i>@user.DateOfBirth.GetValueOrDefault().ToShortDateString()
                                <br />
                                <br />
                                <i class="glyphicon glyphicon-user"></i>@Html.ActionLink("Account", "Details", new { id = user.Id })
                                @*<i class="glyphicon glyphicon-user"></i><a href="/User/Details">Account</a>*@

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/Custom/main.min.js"></script>
<script src="~/Scripts/Custom/script.js"></script>
