@model IEnumerable<Loop.Entities.Concrete.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row merged20">
        <div class="col-lg-12">
            <div class="row">
                <div class="central-meta">
                    <div class="title-block">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="align-left">
                                    <h5>Forum open topic</h5>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row merged20">
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <form method="post">
                                            <input type="text" placeholder="Search...">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="select-options">
                                            <select class="select">
                                                <option>Sort by</option>
                                                <option>See All</option>
                                                <option>Newest</option>
                                                <option>oldest</option>
                                                <option>A to Z</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                        <div class="option-list">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <ul>
                                                <li class="active"><i class="fa fa-check"></i><a title="" href="#">Show Public</a></li>
                                                <li><a title="" href="#">Show only Friends</a></li>
                                                <li><a title="" href="#">Hide all Posts</a></li>
                                                <li><a title="" href="#">Mute Notifications</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- title block -->
            </div>
            <div class="central-meta">
                <div class="forum-open">
                    <h5 class=""><i class="fa fa-star"></i> Asset for creating a beautiful website</h5>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserPhoto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmailConfirmed)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PasswordHash)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SecurityStamp)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LockoutEnabled)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AccessFailedCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateOfBirth)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td class="topic-data">
                                        @if (user.UserPhoto != null)
                                        {
                                            string imageBase64 = Convert.ToBase64String(user.UserPhoto);
                                            string imageSrc = string.Format("data:image/png;base64,{0}", imageBase64);
                                            <img src="@imageSrc" width="100" height="100" style="border-radius : 50%;" />
                                        }
                                        else
                                        {
                                            <img src="@Url.Action("UserPhotos", "User",new { id = user.Id } )" />
                                        }
                                        <span>@user.UserName</span>
                                        <em>Participant</em>
                                    </td>
                                    <td class="date-n-reply">
                                        <span>

                                        </span>
                                        <a href="#" title="">Reply</a>
                                    </td>
                                    <td class="topic-detail">
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = user.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = user.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Custom/main.min.js"></script>
<script src="~/Scripts/Custom/script.js"></script>




@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecurityStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoFactorEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LockoutEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordHash)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecurityStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>*@
