@model IEnumerable<Loop.Entities.Concrete.ApplicationUser>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        @foreach (var user in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            @if (user.Images.Count > 0)
                            {
                                foreach (var item in user.Images)
                                {
                                    <img src="@Url.Content(item.ImgPath)" alt="" class="user-Image" />
                                    @*<img src="@Url.Content(item.ImgPath) " width="100" height="100" />*@
                                }
                            }
                            else
                            {
                                <img src="@Url.Content("~/Content/Avatars/chatbot.png")" alt="" class="user-Image" />
                            }
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4>
                                @if (user.Roles.Count > 0)
                                {
                                    if (user.Roles.First().RoleId == "87051edf-9529-4664-a617-387d09a2fdd6")
                                    {
                                        <em>@user.LastName @user.FirstName - User</em>

                                    }

                                    else
                                    {
                                        <em>@user.LastName @user.FirstName - Admin</em>
                                    }
                                }
                                else
                                {
                                    <em>@user.LastName @user.FirstName - User</em>
                                }

                            </h4>
                            <div class="more" style="display:inline-block">
                                <div class="more-post-optns">
                                    <i class="ti-more-alt"></i>
                                    <ul>
                                        <li><i class="fa fa-pencil-square-o"></i>@Html.ActionLink("Edit", "Edit", new { id = user.Id }, new { onclick = "return confirm('Are you sure you wish to edit this product?');" })</li>
                                        <li>
                                            <i class="fa fa-trash-o"></i>@Html.ActionLink("Delete", "Delete", new { id = user.Id }, new { onclick = "return confirm('Are you sure you wish to delete this product?');" })
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <p>
                                @if (!(user.Email == null))
                                {
                                    <i class="glyphicon glyphicon-envelope"></i>@user.Email
                                }
                                else
                                {
                                    <i class="glyphicon glyphicon-envelope"> -- </i>
                                }
                                <br />
                                <i class="glyphicon glyphicon-lock"></i>@user.UserName
                                <br />
                                <i class="glyphicon glyphicon-gift"></i>@user.DateOfBirth
                                <br />
                                <br />
                                <i class="glyphicon glyphicon-user"></i><a href="/User/Details">Account</a>
                                @*<i class="glyphicon glyphicon-pencil"></i><a href="/Users/Details"></a>
                                    <i class="glyphicon glyphicon-trash"></i><a href="/Users/Details"></a>*@
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/Custom/main.min.js"></script>
<script src="~/Scripts/Custom/script.js"></script>
