@model PagedList.IPagedList<Loop.Entities.Concrete.Product>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

@{
    SelectListItem a1 = new SelectListItem() { Text = "5", Value = "5" };
    SelectListItem a2 = new SelectListItem() { Text = "10", Value = "10" };
    SelectListItem a3 = new SelectListItem() { Text = "25", Value = "25" };
    SelectListItem a4 = new SelectListItem() { Text = "50", Value = "50" };
    SelectListItem a5 = new SelectListItem() { Text = "100", Value = "100" };
    List<SelectListItem> items = new List<SelectListItem>() { a1, a2, a3, a4, a5 };
}


<script src="https://kit.fontawesome.com/0e62a71725.js" crossorigin="anonymous"></script>

@*<div class="container">
     Modal 
    <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog">
             Modal content
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Welcome To Shopping Section</h4>
                </div>
                <div class="modal-body">
                    <p>Loop is an Open Source Project , so you can purchase any product in your desirable price<br />Happy Shopping!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="se-pre-con"></div>
<div class="theme-layout">
    <div class="container">
        <div class="row merged20">
            <div class="col-lg-12">
                <div class="forum-warper">
                    <div class="central-meta">
                        <div class="title-block">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="align-left">
                                        <h5>All Products</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row merged20">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <form method="post">
                                                @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                                                {
                                                    @Html.TextBox("searchTitle", null, new { placeholder = "Search Product By Name" })
                                                }
                                            </form>
                                        </div>
                                        @* SORTING HERE *@
                                        <div class="col-lg-3 col-md-3 col-sm-3">
                                            @Html.ActionLink("Sort By Title", "Index", "Products", new { sortOrder = ViewBag.TitleSortParam }, new { @class = "btn btn-outline-secondary btn-sm" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- title block -->
                    <h4>Find Any Product You Need</h4>
                    <a id="basket-button" class="addnewforum" href="/OrderProducts/Cart"><i class="fas fa-shopping-cart"></i>  Shopping Basket</a>
                    <a class="addnewforum" href="~/Products/Create" title=""><i class="fa fa-plus mx-2"></i> Create Product</a>
                    @Html.PagedListPager(Model, x => @Url.Action("Index", "Products", new { page = x, sortOrder = ViewBag.TitleSortParam, pSize = ViewBag.CurrentpSize }))
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="gap2 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row merged20" id="page-contents">
                            @foreach (var product in Model)
                            {
                                <div class="col-lg-4">
                                    <div class="load-more">

                                        <div class="central-meta item">
                                            <div class="classic-post">
                                                <figure>
                                                    <img class="prod-image" src="@product.PhotoUrl" alt="Photo Missing">
                                                </figure>
                                                <div class="classic-pst-meta">
                                                    <div class="more">
                                                        <div class="more-post-optns">
                                                            <i class="ti-more-alt"></i>
                                                            <ul>
                                                                <li><i class="fa fa-pencil-square-o"></i>@Html.ActionLink("Edit", "Edit", new { id = product.ProductId }, new { onclick = "return confirm('Are you sure you wish to edit this product?');" })</li>
                                                                <li>
                                                                    <i class="fa fa-trash-o"></i>@Html.ActionLink("Delete", "Delete", new { id = product.ProductId }, new { onclick = "return confirm('Are you sure you wish to delete this product?');" })
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><i class="fa fa-check-circle" title="verified"></i>Title: @product.Title</h4>
                                                    <div><p>Description: @product.Description</p></div>
                                                    @{var str = product.GetType().Name.Split('_');}
                                                    <span>Product Type : @str[0]</span>
                                                    <div class="location-area">
                                                        <div>
                                                            @*"https://localhost:44391/api/cart/getfive"*@
                                                            <form id="form2" action="/OrderProducts/Add" method="get">
                                                                <table class="table-borderless">
                                                                    <thead>
                                                                        @*<tr>
                                                                            <th>Quantity</th>
                                                                            <td>

                                                                                <input type="number" id="quanity" name="quantity" style="width: 45px;" />
                                                                            </td>
                                                                        </tr>*@
                                                                        <tr>
                                                                            <th>Price</th>
                                                                            <td>
                                                                                <input type="text" id="price" name="price" style="width: 60px;" />
                                                                            </td>
                                                                        </tr>
                                                                    </thead>
                                                                    @Html.Hidden("productId", product.ProductId)
                                                                </table>
                                                                <button type="submit" id="btn" class="btn btn-outline-secondary btn-sm">Add to Cart</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div><!-- centerl meta -->
                            }

                            @Html.PagedListPager(Model, x => @Url.Action("Index", "Products", new { page = x, sortOrder = ViewBag.TitleSortParam, pSize = ViewBag.CurrentpSize }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>



<script src="~/Scripts/jquery-3.5.0.js"></script>
<script src="js/main.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
<script src="js/locationpicker.jquery.js"></script>
<script src="js/map-init.js"></script>
<script src="js/script.js"></script>

<script type="text/javascript">
    $(window).on('load', function () {
        $('#modal').modal('show');
    });
</script>