@model IEnumerable<Loop.Entities.Concrete.Product>

@{
    ViewBag.Title = "Index";
}

<div class="se-pre-con"></div>
<div class="theme-layout">

    <div class="container">
        <div class="row merged20">
            <div class="col-lg-12">
                <div class="forum-warper">
                    <div class="central-meta">
                        <div class="title-block">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="align-left">
                                        <h5>All Products</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row merged20">
                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                            <form method="post">
                                                <input type="text" placeholder="Search...">
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <div class="select-options">
                                                <select class="select">
                                                    <option>Sort by</option>
                                                    <option>See All</option>
                                                    <option>Newest</option>
                                                    <option>oldest</option>
                                                    <option>A to Z</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1">
                                            <div class="option-list">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <ul>
                                                    <li class="active"><i class="fa fa-check"></i><a title="" href="#">Show Public</a></li>
                                                    <li><a title="" href="#">Hide all Products</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- title block -->
                    <h4>Find Any Tutorial You Need</h4>
                    <a class="addnewforum" href="~/Products/Create" title=""><i class="fa fa-plus"></i> Create Product</a>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="gap2 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row merged20" id="page-contents">
                            @foreach (var product in Model)
                            {
                                <div class="col-lg-4">
                                    <div class="load-more">

                                        <div class="central-meta item">
                                            <div class="classic-post">
                                                <figure>
                                                    <img class="prod-image" src="@product.PhotoUrl" alt="Photo Missing">
                                                </figure>
                                                <div class="classic-pst-meta">
                                                    <div class="more">
                                                        <div class="more-post-optns">
                                                            <i class="ti-more-alt"></i>
                                                            <ul>
                                                                <li><i class="fa fa-pencil-square-o"></i>@Html.ActionLink("Edit", "Edit", new { id = product.ProductId }, new { onclick = "return confirm('Are you sure you wish to edit this product?');" })</li>
                                                                <li>
                                                                    <i class="fa fa-trash-o"></i>@Html.ActionLink("Delete", "Delete", new { id = product.ProductId }, new { onclick = "return confirm('Are you sure you wish to delete this product?');" })
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><i class="fa fa-check-circle" title="verified"></i>Title: @product.Title</h4>
                                                    <div><p>Description: @product.Description</p></div>
                                                    @{

                                                        var str = product.GetType().Name.Split('_');

                                                    }
                                                    <span>Product Type : @str[0]</span>
                                                    <div class="location-area">
                                                        @using (Html.BeginForm("Add", "OrderProducts", FormMethod.Post))
                                                        {
                                                            @Html.Hidden("ProductId", product.ProductId)
                                                            <button type="submit" class="btn btn-primary">Add to cart</button>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div><!-- centerl meta -->
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<script src="js/main.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
<script src="js/locationpicker.jquery.js"></script>
<script src="js/map-init.js"></script>
<script src="js/script.js"></script>
