@model Loop.Web.Models.IndexStatisticViewModel
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>LooP Project - Index</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->


    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link href="~/Content/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="~/Content/vendor/icofont.min.css" rel="stylesheet" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/Content/vendor/venobox.css" rel="stylesheet" />
    <link href="~/Content/vendor/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/aos.css" rel="stylesheet" />


    <!-- Template Main CSS File -->
    <link href="~/Content/vendor/style.css" rel="stylesheet" />

</head>

<body>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Best site for developers</h1>
                    <h2>We are team of new developers trying to make a bigger coding community</h2>
                    <div class="d-lg-flex">
                        <a href="#about" class="btn-get-started scrollto">Become Member</a>
                        <a href="https://www.youtube.com/watch?v=Dv7gLpW91DM" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/Content/assets/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Cliens Section ======= -->
        <section id="cliens" class="cliens section-bg">
            <div class="container">

                <div class="row" data-aos="zoom-in">

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="https://png2.cleanpng.com/sh/86874a4696e2ab1effb98194a8c0ce40/L0KzQYm3WMMyN6ZtipH0aYP2gLBuTfMueKN0fARqbX3sfri0jPFvb6Zmf9c2bHBqf370ifNzd6R0fuY2dnn2hbLzTgN1fZUyeeZ1YYOwgLF5lPZwdJp0RadrOEm8QYq5hMdkPmE1RqMBMki4R4K4UcU0PWg5SqUANEi7Q4m1kP5o/kisspng-c-programming-language-logo-microsoft-visual-stud-atlas-portfolio-5b899192d7c600.1628571115357423548838.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="https://cdn.worldvectorlogo.com/logos/html5.svg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="https://www.pinclipart.com/picdir/big/373-3731592_angular-js-small-icon-clipart.png" class="img-fluid" alt="">
                    </div>

                </div>

            </div>
        </section><!-- End Cliens Section -->
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About Us</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            It's time to make a <b>stronger coding community.</b>
                            Loop is place where you can talk with fellow developers about coding and technology.
                            In our site you can also buy:
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Video tutorials for all technologies you can name.</li>
                            <li><i class="ri-check-double-line"></i> Book tutorials for all modern coding languages.</li>
                            <li><i class="ri-check-double-line"></i> And all that at the the price you <b>choose to pay.</b></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Our mission is to <b>help</b> developers write the script of the future.
                            This means helping you find and hire skilled developers for your business and providing them the tools they need to <b>share knowledge</b> and work effectively.
                        </p>
                        <a href="#" class="btn-learn-more">Learn More</a>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->
        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us section-bg">
            <div class="container-fluid" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
                        <div class="content">
                            <h3>Our latest <strong>Posts</strong></h3>
                            <p>
                                You can find our latest answers to your problems posted by Loop users.
                                Click @Html.ActionLink("Here", "Index", "Post")
                            </p>
                        </div>

                        <div class="accordion-list">
                            <ul>
                                @{
                                    var counter = 1;
                                }
                                @foreach (var post in Model.RecentPosts.ToList())
                                {
                                    <li>
                                        <a data-toggle="collapse" class="collapse" href="#accordion-list-@counter.ToString()"><span>0 @counter</span> @post.Title <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                        <div id="accordion-list-@counter.ToString()" class="collapse" data-parent=".accordion-list">
                                            <p>
                                                @post.Text
                                            </p>
                                        </div>
                                    </li>
                                    counter++;
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style="background-image: url('/Content/assets/why-us.png');" data-aos="zoom-in" data-aos-delay="150">
                        &nbsp;
                    </div>
                </div>
            </div>
        </section><!-- End Why Us Section -->
        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                        <img src="~/Content/assets/skills.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                        <h3>We keep record of our statistics </h3>
                        <p class="font-italic">
                            We proudly announce you our statistics.
                            Thank to all Loopers our community grows incredible fast.
                        </p>

                        <div class="skills-content">

                            <div class="progress">
                                <span class="skill">Posts<i class="val">@Model.PostsCount</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@Model.PostsCount.ToString()" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">Users <i class="val">@Model.UsersCount</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@Model.UsersCount.ToString()" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">Products <i class="val">@Model.ProductsCount</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@Model.ProductsCount.ToString()" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="skill">Orders <i class="val">@Model.OrdersCount</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@Model.OrdersCount.ToString()" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End Skills Section -->
        <!-- ======= Tools Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Tools</h2>
                    <p>If you are new to programing we recomend you to use those four basic but essentials free code editors to begin you coding journey.</p>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4><a href="https://code.visualstudio.com/download">Visual Studio Code</a></h4>
                            <p>Visual Studio Code is a source-code editor made by Microsoft for Windows, Linux and macOS.</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4><a href="https://notepad-plus-plus.org/downloads/">Notepad ++</a></h4>
                            <p>Notepad++ is a text and source code editor for use with Microsoft Windows.</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4><a href="https://www.sublimetext.com/3">Sublime Text</a></h4>
                            <p>Sublime Text is a shareware cross-platform source code editor with a Python application programming interface. </p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4><a href="https://atom.io/">Atom</a></h4>
                            <p>Atom is a free and open-source text and source code editor for macOS, Linux, and Microsoft.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Services Section -->
        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container" data-aos="zoom-in">

                <div class="row">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3>Become Looper Now!</h3>
                        <p>
                            We are four new developers from Greece and we created this website in order to help the coding community to become even bigger.
                            <br />
                            We really want to hear your thoughts, stories or questions about coding..
                        </p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="#">Register Now</a>
                    </div>
                </div>

            </div>
        </section><!-- End Cta Section -->
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Tags</h2>
                    <p>
                        You can search here the answers you need based on the technology you like.
                        <br /> You name it we got it.
                    </p>
                </div>

                <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-front">FrontEnd</li>
                    <li data-filter=".filter-back">BackEnd</li>
                    <li data-filter=".filter-fram">Frameworks</li>
                </ul>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-fram">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/bootstrap.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Bootstrap</h4>
                            <p>FrameWork</p>
                            <a href="~/Content/assets/portfolio/bootstrap.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-back">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/csharp.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>C#</h4>
                            <p>Prog.Language</p>
                            <a href="~/Content/assets/portfolio/csharp.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-front">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/html.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>HTML</h4>
                            <p>FrontEnd</p>
                            <a href="~/Content/assets/portfolio/html.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-front">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/css.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>CSS</h4>
                            <p>FrontEnd</p>
                            <a href="~/Content/assets/portfolio/css.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-front">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/javascript.png" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>JavaScript</h4>
                            <p>Prog.Language</p>
                            <a href="~/Content/assets/portfolio/javascript.png" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-back">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/python.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Python</h4>
                            <p>Prog.Language</p>
                            <a href="~/Content/assets/portfolio/python.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-fram">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/angular.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Angular</h4>
                            <p>FrameWork</p>
                            <a href="~/Content/assets/portfolio/angular.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

            
                    <div class="col-lg-4 col-md-6 portfolio-item filter-back">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/cotlyn.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Kotlin</h4>
                            <p>Prog.Language</p>
                            <a href="~/Content/assets/portfolio/cotlyn.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-back">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/cplus.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>C++</h4>
                            <p>Prog.Language</p>
                            <a href="~/Content/assets/portfolio/cplus.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-fram">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/ember.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Ember</h4>
                            <p>FrameWork</p>
                            <a href="~/Content/assets/portfolio/ember.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-back">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/fsharp.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>F#</h4>
                            <p>Functional Prog.Language</p>
                            <a href="~/Content/assets/portfolio/fsharp.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-back">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/haskel.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Haskell</h4>
                            <p>Prog.Language</p>
                            <a href="~/Content/assets/portfolio/haskel.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-back">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/java.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>JAVA</h4>
                            <p>Prog.Language</p>
                            <a href="~/Content/assets/portfolio/java.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-back">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/jython.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Jython</h4>
                            <p>Prog.Language</p>
                            <a href="~/Content/assets/portfolio/jython.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-fram">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/laravel.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <a href="~/Content/assets/portfolio/laravel.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-fram">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/netframework.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>.Net</h4>
                            <p>FrameWork</p>
                            <a href="~/Content/assets/portfolio/netframework.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-back">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/php.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>PHP</h4>
                            <p>Prog.Language</p>
                            <a href="~/Content/assets/portfolio/php.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-fram">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/react.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>React</h4>
                            <p>FrameWork</p>
                            <a href="~/Content/assets/portfolio/react.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 portfolio-item filter-back">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/ruby.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Ruby</h4>
                            <p>Prog.Language</p>
                            <a href="~/Content/assets/portfolio/ruby.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 portfolio-item filter-front">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/typescript.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>TypeScript</h4>
                            <p>Prog.Language</p>
                            <a href="~/Content/assets/portfolio/typescript.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 portfolio-item filter-fram">
                        <div class="portfolio-img"><img src="~/Content/assets/portfolio/vue.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Vue</h4>
                            <p>FrameWork</p>
                            <a href="~/Content/assets/portfolio/vue.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->
        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Team</h2>
                    <p>Four young developers with a common vision! Our mission is to help unleash the potential of every developer or team and make our community stronger.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic"><img src="~/Content/assets/team/karol.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Karol Koniewicz</h4>
                                <span>Full Stack Developer</span>
                                <p>Coding and gaming is my field</p>
                                <div class="social">
                                    <a href="#"><i class="ri-twitter-fill"></i></a>
                                    <a href="#"><i class="ri-facebook-fill"></i></a>
                                    <a href="#"><i class="ri-instagram-fill"></i></a>
                                    <a href="https://www.linkedin.com/in/kpkonie/"> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                            <div class="pic"><img src="~/Content/assets/team/rizos.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Panagiotis Rizos</h4>
                                <span>Full Stack Developer</span>
                                <p>I like to code and travel</p>
                                <div class="social">
                                    <a href="#"><i class="ri-twitter-fill"></i></a>
                                    <a href="https://www.facebook.com/profile.php?id=100008165836045"><i class="ri-facebook-fill"></i></a>
                                    <a href="https://www.instagram.com/panos_rzs/?hl=en"><i class="ri-instagram-fill"></i></a>
                                    <a href="https://www.linkedin.com/in/panayiotis-rizos-334787129/"> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                            <div class="pic"><img src="~/Content/assets/team/team-3.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Thanos Katrakis</h4>
                                <span>Full Stack Developer</span>
                                <p>Passionate about coding and music</p>
                                <div class="social">
                                    <a href="#"><i class="ri-twitter-fill"></i></a>
                                    <a href="https://www.facebook.com/thanos.katrakis.54/"><i class="ri-facebook-fill"></i></a>
                                    <a href="https://www.instagram.com/thanos_katrakis/?hl=en"><i class="ri-instagram-fill"></i></a>
                                    <a href="#"> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                            <div class="pic"><img src="~/Content/assets/team/team-4.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Ioannis Manthos</h4>
                                <span>Full Stack Developer</span>
                                <p>Math, coding and drawing. I can't choose</p>
                                <div class="social">
                                    <a href="#"><i class="ri-twitter-fill"></i></a>
                                    <a href="https://www.facebook.com/ioannis.manthos.56"><i class="ri-facebook-fill"></i></a>
                                    <a href="#"><i class="ri-instagram-fill"></i></a>
                                    <a href="#"> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Team Section -->
        <!-- ======= Product Section ======= -->
        <section id="pricing" class="pricing">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Recomended Products</h2>
                    <p>Best Sellers generated by you  </p>
                </div>

                <div class="row">

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="box">
                            <h3>@Model.RecomendedProducts.Keys.ElementAt(1)</h3>
                            <h4><sup>#</sup>2<span>MVProduct</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                                <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
                                <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                            </ul>
                            <a href="#" class="buy-btn">Buy Now</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                        <div class="box featured">
                            <h3>@Model.RecomendedProducts.Keys.FirstOrDefault().ToString()</h3>
                            <h4>Purchased:@Model.RecomendedProducts.Values.ElementAt(0)<span style="padding:10px; text-align:center">Best Seller</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
                            </ul>
                            <a href="#" class="buy-btn">Buy Now</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                        <div class="box">
                            <h3>@Model.RecomendedProducts.Keys.ElementAt(2)</h3>
                            <h4><sup>#</sup>3<span>MVProduct</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
                            </ul>
                            <a href="#" class="buy-btn">Buy Now</a>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Pricing Section -->
        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Frequently Asked Questions</h2>
                    <p>So many of you seems to have some common questions about our site. So here is the answers you are looking for.</p>
                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">How much does your products cost? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                                <p>
                                    That's the funny part because it's up to you how much many you want to pay. In other words you pick the price.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">Why you? Stack overflow already exists. <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                                <p>
                                    The difference is tha we mot focusing only on coding. In our site we  believe more in community, so we like to share our thoughts about our working daily stories or somthing good or bad in our field.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">Do I need to pay to become a member? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                                <p>
                                    No not at all. The only thing you need to have is passion about coding and communicating with othe loopers.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Do I need to be a developer to join your company? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                                <p>
                                    Again the answer is no. But if you are not a developer we believe that a cooking site will suit you more.....!
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Please don't hesitate to call | email us for whatever reason. <br />We would be more than happy to answer your question.</p>
                </div>

                <div class="row">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="icofont-google-map"></i>
                                <h4>Location:</h4>
                                <p>Panepistimiou Street 52. Athens 15124</p>
                            </div>

                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@loop.com</p>
                            </div>

                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Call:</h4>
                                <p>+30 210 64 66 987</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>Join Our Lopper Army</h4>
                        <p>Become one of us. Become a LOOPER now..</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Loop</h3>
                        <p>
                            Panepistimiou Street 52 <br>
                            Athens 15124<br>
                            Greece <br><br>
                            <strong>Phone:</strong> +30 210 64 66 987<br>
                            <strong>Email:</strong> info@loop.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Loop</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="#">Loop Team</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/Scripts/jquery-3.5.0.js"></script>
    <script src="~/Scripts/JsFolder/jquery.easing.min.js"></script>
    <script src="~/Scripts/JsFolder/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/JsFolder/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/JsFolder/venobox.min.js"></script>
    <script src="~/Scripts/JsFolder/owl.carousel.min.js"></script>
    <script src="~/Scripts/JsFolder/aos.js"></script>

    <script src="~/Scripts/JsFolder/main.js"></script>

</body>

</html>