@model Loop.Web.Models.IndexStatisticViewModel
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Looop</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    @*FONT AWSOME ICONS*@
    <script src="https://kit.fontawesome.com/0e62a71725.js" crossorigin="anonymous"></script>

    <link href="~/Content/css/assets/aos.css" rel="stylesheet" />
    <link href="~/Content/css/assets/boxicons.min.css" rel="stylesheet" />
    <link href="~/Content/css/assets/icofont.min.css" rel="stylesheet" />
    <link href="~/Content/css/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/assets/remixicon.css" rel="stylesheet" />
    <link href="~/Content/css/assets/venobox.css" rel="stylesheet" />
    <link href="~/Content/css/IndexStyle.css" rel="stylesheet" />
</head>

<body>
    <!-- #region BACKGROUND IMAGE SECTION -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
            <h2 class="index-main-header">WELCOME TO LOOP</h2>
            <a href="/Account/Register" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section>
    <!-- #endregion -->

    <main id="main">

        <!-- #region GENERAL INFO SECTION -->
        <section id="about" class="about">
            <div class="container">
                <div class="row content">
                    <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                        <h2>It's time to make a stronger Coding Community</h2>
                        <h3>Loop is place where you can talk with fellow developers about coding and technology</h3>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
                        <p>
                            Hello beautiful people, our site is here for you to talk about your questions or ideas about coding. In our site you can
                            also find fellow programmers to hang out. In our site you can also buy:
                        </p>
                        <ul>
                            <li><i class="fas fa-check-double"></i> Video tutorials for all technologies you can name.</li>
                            <li><i class="fas fa-check-double"></i> Book tutorials for all modern coding languages.</li>
                            <li><i class="fas fa-check-double"></i> And all that at the the price <b>YOU CHOOSE TO PAY</b>.</li>
                        </ul>
                        <p class="font-italic">
                            We are happy you are here. Please enjoy you stay.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- #endregion -->
        <!-- #region RECENT POSTS SECTION -->
        <section id="posts" class="services section-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="section-title" data-aos="fade-right">
                            <h2>Recent Posts</h2>
                            <p>You can read all posts <a href="/Post/Index" style="color:#007acc; text-decoration: underline">here</a></p>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="row">

                            @foreach (var post in Model.RecentPosts)
                            {
                                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                                    <div id="tutorial-post-div" class="icon-box mt-4" data-aos="zoom-in" data-aos-delay="100">
                                        <div class="icon"><img src="https://freeiconshop.com/wp-content/uploads/edd/chat-flat.png" /></div>
                                        <h4>@Html.ActionLink(post.Title, "Details", "Post", new { id = post.PostId }, null)</h4>
                                        <p>@post.Text</p>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #endregion -->
        <!-- #region BLUE BAR WITH COUNTERS SECTION -->
        <section id="counts" class="counts">
            <div class="container">
                <div class="row counters">
                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">@Model.PostsCount</span>
                        <p>Posts</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">@Model.UsersCount</span>
                        <p>Users</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">@Model.ProductsCount</span>
                        <p>Products</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">@Model.OrdersCount</span>
                        <p>Orders</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- #endregion -->
        <!-- #region RECENT PRODUCTS SECTION -->
        <section id="products" class="services section-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="section-title" data-aos="fade-right">
                            <h2>Recent Products</h2>
                            <p>Find all products <a href="/Products/Index" style="color:#007acc; text-decoration: underline">here</a></p>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="row">

                            @foreach (var product in Model.RecentProducts)
                            {
                                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                                    <div id="tutorial-post-div" class="icon-box mt-4" data-aos="zoom-in" data-aos-delay="100">
                                        <div class="icon"><img src="@product.PhotoUrl" /></div>
                                        <h4>@Html.ActionLink(product.Title, "Details", "Products", new { id = product.ProductId }, null)</h4>
                                        <p>@product.Description</p>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #endregion -->
        <!-- #region MEET TEAM SECTION -->
        <section id="team" class="team">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="section-title aos-init aos-animate" data-aos="fade-right">
                            <h2>Our Team</h2>
                            <p>Here is the link to our team members personal social media</p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                                    <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                                    <div class="member-info">
                                        <h4>Karol Koniewicz</h4>
                                        <span>Full Stack Developer</span>
                                        <p>Mini Bio</p>
                                        <div class="social">
                                            <a href="https://www.facebook.com/karolos.ko.3"><i class="fab fa-facebook-square"></i></a>
                                            <a href=""><i class="fab fa-instagram-square"></i></a>
                                            <a href=""><i class="fab fa-github-square"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mt-4 mt-lg-0">
                                <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                                    <div class="member-info">
                                        <h4>Panos Rizos</h4>
                                        <span>Full Stack Developer</span>
                                        <p>Mini bio</p>
                                        <div class="social">
                                            <a href="https://www.facebook.com/profile.php?id=100008165836045"><i class="fab fa-facebook-square fa-lg"></i></a>
                                            <a href=""><i class="fab fa-instagram-square fa-lg"></i></a>
                                            <a href=""><i class="fab fa-github-square fa-lg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mt-4">
                                <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                                    <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                                    <div class="member-info">
                                        <h4>Ioannis Manthos</h4>
                                        <span>Full Stack Developer</span>
                                        <p>Mini Bio</p>
                                        <div class="social">
                                            <a href="https://www.facebook.com/ioannis.manthos.56"><i class="fab fa-facebook-square fa-lg"></i></a>
                                            <a href=""><i class="fab fa-instagram-square fa-lg"></i></a>
                                            <a href=""><i class="fab fa-github-square fa-lg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mt-4">
                                <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                                    <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                                    <div class="member-info">
                                        <h4>Thanos Katrakis</h4>
                                        <span>Full Stack Developer</span>
                                        <p>Pationate about coding and music.</p>
                                        <div class="social">
                                            <a href="https://www.facebook.com/thanos.katrakis.54/"><i class="fab fa-facebook-square fa-lg"></i></a>
                                            <a href=""><i class="fab fa-instagram-square fa-lg"></i></a>
                                            <a href=""><i class="fab fa-github-square fa-lg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #endregion -->
        <!-- #region BACK TO TOP BUTTON -->
        <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
        <!-- #endregion -->
        
    </main>
    <!-- #region ALL SCRIPTS -->
    <script src="~/Scripts/Custom/cus/jquery.min.js"></script>
    <script src="~/Scripts/Custom/cus/bootstrap.min.js"></script>
    <script src="~/Scripts/Custom/cus/jquery.easing.min.js"></script>
    <script src="~/Scripts/Custom/cus/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/Custom/cus/counterup.min.js"></script>
    <script src="~/Scripts/Custom/cus/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/Custom/cus/venobox.min.js"></script>
    <script src="~/Scripts/Custom/cus/owl.carousel.min.js"></script>
    <script src="~/Scripts/Custom/cus/aos.js"></script>
    <script src="~/Scripts/Custom/cus/index.js"></script>
    <!-- #endregion -->
</body>
</html>