@model Loop.Web.Models.ReplyViewModel

@{
    ViewBag.Title = "Create";
}

<div class="container" style="padding-top:100px;">
    <div>@Model.CurrentPost.PostId</div>
    <div>@Model.CurrentPost.Text</div>
    <div>@Model.CurrentPost.Title</div>
    <div>@Model.CurrentPost.ApplicationUser.FirstName</div>
    <div>
        @if (!(Model.CurrentPost.ApplicationUser.Images.FirstOrDefault() is null))
        {
            foreach (var image in Model.CurrentPost.ApplicationUser.Images)
            {
                if (image.ImgPath.Length > 0)
                {
                    <img src="@Url.Content(image.ImgPath) " width="50" height="50" />
                }
            }
        }
        else
        {
            <img src="~/Content/Avatars/chatbot.png" width="50" height="50" />
        }

    </div>
</div>

<div class="se-pre-con"></div>
<div class="theme-layout">
    <div class="container">
        <div class="row merged20">
            <div class="col-lg-12">
                <div class="forum-warper">
                    <div class="central-meta">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @*<h4>Reply</h4>*@
                                <hr />
                                @Html.HiddenFor(model => model.PostId)
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <i class="fa fa-comments"></i>
                                    @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                    @Html.ActionLink("Back to List", "Index", "Post")
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>