@model Loop.Entities.Reply

@{
    ViewBag.Title = "Delete-Reply";
}


<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/vendor/secondary/main.min.css" rel="stylesheet" />
<link href="~/Content/vendor/secondary/style.css" rel="stylesheet" />
<link href="~/content/vendor/secondary/color.css" rel="stylesheet" />
<link href="~/content/vendor/secondary/responsive.css" rel="stylesheet" />

<h2>Details</h2>

<div class="se-pre-con" style="padding-top:100px;"></div>
<div class="container">
    <h4>Are you sure you want to delete @Model.ApplicationUser.UserName reply ?</h4>
    <br />
    <div class="row merged20">
        <div class="col-lg-12">
            <div class="forum-warper">
                <div class="central-meta">
                    <div class="forum-list">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">Reply</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-comments"></i>
                                        <p>@Model.Text</p>
                                    </td>
                                    <td>
                                        <span class="badge font-weight-normal border border-light text-white loopUser-name">@Model.ApplicationUser.UserName</span><br />
                                        <span class="post-date">Posted : @Model.PostDate.ToShortDateString()</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

