@model Loop.Entities.Post

@{
    ViewBag.Title = "Create";
}



<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


@using (Html.BeginForm("Create", "Post", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container">

        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <br /><br /><br /><br /><br /><br />
                    @Html.LabelFor(x => x.Title)
                    @Html.TextAreaFor(model => model.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Text)
                    @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.Label("Post Thematology")
                    @Html.ListBox("SelectedTagsIds", null, new { @class = "col-md form-control" })
                </div>
                <div class="form-group">

                    <div class="form-group" style="display:inline-block">
                        <button type="submit" value="Save" class="btn btn-sm btn-warning text-white"> Create</button>
                    </div>

                    <div class="form-group" style="display:inline-block">
                        <div id="back-button">@Html.ActionLink("Back", "Index", "Post", null, new { @class = " btn btn-sm" })</div>
                    </div>

                    @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })*@
                </div>

                <br /><br /><br /><br /><br /><br />
            </div>

        </div>
    </div>
}
