@model Loop.Entities.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="central-meta">
    <div class="forum-open">
        <h5 class=""><i class="fa fa-star"></i> Asset for creating a beautiful website</h5>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>@Html.DisplayFor(m => m.ApplicationUser.UserName)</th>
                    <th>@Html.DisplayFor(m=>m.Text)</th>
                    <th>@Html.DisplayFor(m=>m.PostDate)</th>
                </tr>
         
            </thead>
            <tbody>
                @foreach (var reply in Model.Replies)
                {
                    <tr>
                        <td class="topic-data">
                            <img src="~/Content/images/resources/forum-author1.png" alt="User's Avatar" />
                            <span>@reply.ApplicationUser.UserName</span>
                            <em>Participant</em>
                        </td>
                        <td class="date-n-reply">
                            <span>@reply.PostDate</span>
                        </td>

                        <td class="topic-detail">
                            <p>@reply.Text</p>
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = reply.ReplyId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
