@model Loop.Entities.Post

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/vendor/secondary/main.min.css" rel="stylesheet" />
<link href="~/Content/vendor/secondary/style.css" rel="stylesheet" />
<link href="~/content/vendor/secondary/responsive.css" rel="stylesheet" />

<h2>Details</h2>

<div class="se-pre-con" style="padding-top:100px;"></div>
<div class="container">
    <img src="~/Content/assets/post_details.jpg" />
    <div class="row merged20">
        <div class="col-lg-12">
            <div class="forum-warper">
                <div class="central-meta">
                    <div class="forum-list">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th id="post-title" scope="col">Posts</th>
                                    <th scope="col">Replies</th>
                                    <th scope="col">Author</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @{
                                        int RepliesCount = Model.Replies.Count();
                                    }
                                    <td>
                                        <i class="fas fa-comments"></i>
                                        @Html.ActionLink(Model.Title, "Details", new { id = Model.PostId })
                                        <p>@Model.Text</p>

                                        @foreach (var tag in Model.Tags)
                                        {

                                            <span class="badge mt-5 font-weight-normal border border-light text-white tag-post">@tag.Title</span>
                                        }
                                    </td>
                                    <td>
                                        <i class="fas fa-comments"></i>
                                        <span class="badge font-weight-normal border border-light text-white tag-post">@RepliesCount</span><br />
                                        @Html.ActionLink("Reply", "Create", "Reply", new { id = Model.PostId }, new { @class = "btn btn-sm mt-4" })
                                    </td>

                                    <td>
                                        <span class="badge font-weight-normal border border-light text-white loopUser-name">@Model.ApplicationUser.UserName</span><br />
                                        <span class="post-date">Posted : @Model.PostDate.ToShortDateString()</span>
                                    </td>
                                </tr>
                                @*REPLIES*@

                                @foreach (var reply in Model.Replies)
                                {
                                    <tr>
                                        <td>
                                            <i class="fa fa-comments"></i>
                                            <p>@reply.Text</p>
                                        </td>
                                        <td>

                                            <a href="@Url.Action("Edit","Reply", new { id = reply.ReplyId })">
                                                <i class="far fa-edit"></i>
                                            </a>

                                            <a href="@Url.Action("Delete","Reply", new { id = reply.ReplyId })">

                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="badge font-weight-normal border border-light text-white loopUser-name">@reply.ApplicationUser.UserName</span><br />
                                            <span class="post-date">Posted : @reply.PostDate.ToShortDateString()</span>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" style="display:inline-block">
        <div id="back-button">@Html.ActionLink("Back", "Index", "Post", null, new { @class = " btn btn-sm" })</div>
    </div>
</div>

