@model IEnumerable<Loop.Entities.Post>

@{
    ViewBag.Title = "Index";
}

<div class="se-pre-con"></div>
<div class="theme-layout">

    <div class="container">
        <div class="row merged20">
            <div class="col-lg-12">
                <div class="forum-warper">
                    <div class="central-meta">
                        <div class="title-block">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="align-left">
                                        <h5>Forum Posts</h5>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row merged20">
                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                            <form method="post">
                                                <input type="text" placeholder="Search...">
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4">
                                            <div class="select-options">
                                                <select class="select">
                                                    <option>Sort by</option>
                                                    <option>See All</option>
                                                    <option>Newest</option>
                                                    <option>oldest</option>
                                                    <option>A to Z</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1">
                                            <div class="option-list">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <ul>
                                                    <li class="active"><i class="fa fa-check"></i><a title="" href="#">Show Public</a></li>
                                                    <li><a title="" href="#">Hide all Posts</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- title block -->
                    <h4>A new way to find help </h4>
                    <a class="addnewforum" href="~/Post/Create" title=""><i class="fa fa-plus"></i> Create Post</a>
                </div>
                <div class="central-meta">
                    <div class="forum-list">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th id="post-title" scope="col">Posts</th>
                                    <th scope="col">Replies</th>
                                    <th scope="col">Tags</th>
                                    <th scope="col">Posted By</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var post in Model)
                                {
                                    <tr>
                                        @{
                                            int RepliesCount = post.Replies.Count();
                                        }
                                        <td>
                                            <i class="fa fa-comments"></i>
                                            @Html.ActionLink(post.Title, "Details", new { id = post.PostId })
                                            <p>@post.Text</p>
                                        </td>
                                        <td>
                                            @RepliesCount
                                            @Html.ActionLink("Reply", "Details", new { id = post.PostId }, new { @class = "btn btn-outline-secondary btn-sm" })
                                        </td>
                                        <td>
                                            <ul style="list-style-type:none">
                                                @foreach (var tag in post.Tags)
                                                {
                                                    <li>
                                                        <div id="tag-mini-photo" style="float: left;">
                                                            <img src="@tag.ImageUrl" class="img-fluid" />
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </td>
                                        <td>
                                            @if (!(post.ApplicationUserId.Length < 0))
                                            {
                                                if (!(post.ApplicationUser.Images.FirstOrDefault() is null))
                                                {
                                                    foreach (var image in post.ApplicationUser.Images)
                                                    {
                                                        if (image.ImgPath.Length > 0)
                                                        {
                                                            <img src="@Url.Content(image.ImgPath) " width="50" height="50" />
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    <img src="~/Content/Avatars/chatbot.png" width="50" height="50" />
                                                }
                                            }
                                            <br />
                                            <span>@post.ApplicationUser.UserName</span>
                                            <span>Posted : @post.PostDate.ToShortDateString()</span>
                                        </td>
                                        <td>
                                            <button class="add-btn">SAVE</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="lodmore">
                            <button class="btn-view btn-load-more"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Custom/main.min.js"></script>
<script src="~/Scripts/Custom/script.js"></script>
<script src="js/main.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
<script src="js/locationpicker.jquery.js"></script>
<script src="js/map-init.js"></script>
<script src="js/script.js"></script>