@using Microsoft.AspNet.Identity
@{
    Layout = Layout;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>

    @*<div class="container-fluid">
        <div class="col-12">*@

        @if (User.IsInRole("Admin"))
        {
            <canvas style="padding-top:50px;" id="adminProfitPerMonth" width="500" height="500"></canvas>
            <canvas style="padding-top:50px;" id="adminMVPProducts" width="500" height="500"></canvas>
            <canvas style="padding-top:50px;" id="adminTotalPosts" width="500" height="500"></canvas>
            <canvas style="padding-top:50px;" id="admminMVPTags" width="500" height="500"></canvas>
            @*<canvas id="admminMVPTags" width="500" height="500"></canvas>*@
        }

        <canvas style="padding-top:50px;" id="userPosts" width="500" height="500"></canvas>
        <br />
        <canvas style="padding-top:50px;" id="userReplies" width="500" height="500"></canvas>
        <br />
        @*<canvas id="userTags" width="500" height="500"></canvas>*@


    @* </div>
        </div>*@
    <script src="~/Scripts/jquery-3.5.0.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script>
        var ctx = document.getElementById('userPosts').getContext('2d');
        var actionUrl = '@Url.Action("GetPosts","Dashboard")';

        $.ajax({
            url: actionUrl,
            method: 'GET',
            dataType: 'json',
            success: function (d) {

                var date = [];
                var postCount = [];
                var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                for (var i in d) {
                    date.push(months[d[i].date - 1]);
                    postCount.push(d[i].count);
                }
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: date,
                        datasets: [{
                            label: '# of Posts Per Month',
                            data: postCount,
                            backgroundColor: [
                                'rgba(191,227,182,0.5)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(191,227,182,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        });

 var ctx1 = document.getElementById('userReplies').getContext('2d');
        var actionUrl = '@Url.Action("GetReplies","Dashboard")';

        $.ajax({
            url: actionUrl,
            method: 'GET',
            dataType: 'json',
            success: function (d) {

                var date = [];
                var repliesCount = [];
                var months = ["January", "February", "March", "April", "May", "June", "July","August","September","October","November","December"];
                for (var i in d) {
                    date.push(months[d[i].date-1]);
                    repliesCount.push(d[i].count);
                }
                var myChart = new Chart(ctx1, {
                    type: 'line',
                    data: {
                        labels: date,
                        datasets: [{
                            label: '# of Replies Per Month',
                            data: repliesCount,
                            backgroundColor: [
                                'rgba(255,246,143,0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,246,143,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        });

        var ctx3 = document.getElementById('adminMVPProducts').getContext('2d');
        var actionUrl = '@Url.Action("GetTop5Products", "Dashboard")';

        $.ajax({
            url: actionUrl,
            method: 'GET',
            dataType: 'json',
            success: function (d) {

                var count = [];
                var mvpProducts = [];
                for (var i in d) {
                    mvpProducts.push(d[i].product);
                    count.push(d[i].numberOfOrders);
                }

                var myBarChart = new Chart(ctx3, {
                    type: 'bar',
                    data: {
                        labels: mvpProducts,
                        datasets: [{
                            label: '# MVP Products',
                            data: count,
                            backgroundColor: [
                                'rgba(255,246,143,0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,246,143,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        });

        var ctx4 = document.getElementById('adminTotalPosts').getContext('2d');
        var actionUrl = '@Url.Action("PostsPerMonth", "Dashboard")';

        $.ajax({
            url: actionUrl,
            method: 'GET',
            dataType: 'json',
            success: function (d) {

                var date = [];
                var posts = [];
                var months = ["January", "February", "March", "April", "May", "June", "July","August","September","October","November","December"];
                for (var i in d) {
                    date.push(months[d[i].date-1]);
                    posts.push(d[i].count);
                }
                var myChart = new Chart(ctx4, {
                    type: 'line',
                    data: {
                        labels: date,
                        datasets: [{
                            label: '# Posts Per Month',
                            data: posts,
                            backgroundColor: [
                                'rgba(255,246,143,0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,246,143,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        });

        var ctx5 = document.getElementById('admminMVPTags').getContext('2d');
        var actionUrl = '@Url.Action("GetMostWantedTags", "Dashboard")';

        $.ajax({
            url: actionUrl,
            method: 'GET',
            dataType: 'json',
            success: function (d) {

                var title = [];
                var counter = [];
                for (var i in d) {
                    title.push(d[i].title);
                    counter.push(d[i].Value);
                }
                var myChart = new Chart(ctx5, {
                    type: 'doughnut',
                    data: {
                        labels: title,
                        datasets: [{
                            label: '# MVP Tags',
                            data: counter,
                            backgroundColor: [
                                'rgba(71,178,228,1)',
                                'rgba(154, 162, 235, 1)',
                                'rgba(25,246,143,1)',
                                'rgba(251, 53, 71, 1)',
                                'rgba(238, 186, 212, 1)',
                                'rgba(1, 0, 112, 1)',
                                'rgba(128, 128,128, 1)',
                                'rgba(160, 160,160, 1)',
                                'rgba(192, 192, 192, 1)',
                                'rgba(192, 192, 192, 1)',
                                'rgba(192, 192, 192, 1)',
                                'rgba(192, 192, 192, 1)',
                                'rgba(192, 192, 192, 1)',
                                'rgba(192, 192, 192, 1)',
                                'rgba(192, 192, 192, 1)',
                                'rgba(192, 192, 192, 1)',

                            ],
                           //borderColor: [
                           //    'rgba(255,246,143,1)',
                           //    'rgba(54, 162, 235, 1)',
                           //    'rgba(255, 206, 86, 1)',
                           //    'rgba(75, 192, 192, 1)',
                           //    'rgba(153, 102, 255, 1)',
                           //    'rgba(252, 159, 62, 1)',
                           //    'rgba(21, 129, 61, 1)',
                           //    'rgba(25, 139, 69, 1)',
                           //    'rgba(123, 119, 60, 1)',
                           //    'rgba(100, 109, 67, 1)',
                           //    'rgba(12, 34, 101, 1)',
                           //    'rgba(11, 24, 11, 1)',
                           //    'rgba(120, 64, 161, 1)',
                           //    'rgba(120, 74, 201, 1)',
                           //    'rgba(120, 84, 212, 1)',
                           //    'rgba(120, 94, 120, 1)',
                           //    'rgba(120, 124, 140, 1)',
                           //    'rgba(120, 24, 100, 1)',
                           //    'rgba(120, 34, 94, 1)',
                           //],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: false,
                    }
                });
            }
        });

        var ctx6 = document.getElementById('adminProfitPerMonth').getContext('2d');
        var actionUrl = '@Url.Action("ProfitPerMonth", "Dashboard")';

        $.ajax({
            url: actionUrl,
            method: 'GET',
            dataType: 'json',
            success: function (d) {

                var date = [];
                var profit = [];
                var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                for (var i in d) {
                    date.push(months[d[i].month - 1]);
                    profit.push(d[i].profit);
                }
                var myChart = new Chart(ctx6, {
                    type: 'line',
                    data: {
                        labels: date,
                        datasets: [{
                            label: '# Profit Per Month',
                            data: profit,
                            fill : false,
                            borderColor: [
                                'rgba(75,192,192,1)',
                            ],
                            borderWidth: 3,
                            lineTension: 0.1,
                        }]
                    },

                    options: {
                        responsive: false,
                    }
                });
            }
        });


       //r ctx4 = document.getElementById('admminMVPTags').getContext('2d');
       //r actionUrl = '@Url.Action("GetMostWantedTags", "Dashboard")';
       //
       //ajax({
       //  url: actionUrl,
       //  method: 'GET',
       //  dataType: 'json',
       //  success: function (d) {
       //
       //      var title = [];
       //      var counter = [];
       //      for (var i in d) {
       //          title.push(d[i].title);
       //          counter.push(d[i].Value);
       //      }
       //      var myChart = new Chart(ctx4, {
       //          type: 'pie',
       //          data: {
       //              labels: title,
       //              datasets: [{
       //                  label: '# MVP Tags',
       //                  data: counter,
       //                  backgroundColor: [
       //                      'rgba(255,246,143,1)',
       //                      'rgba(54, 162, 235, 1)',
       //                      'rgba(255, 206, 86, 1)',
       //                      'rgba(75, 192, 192, 1)',
       //                      'rgba(153, 102, 255, 1)',
       //                      'rgba(252, 159, 62, 1)',
       //                      'rgba(21, 129, 61, 1)',
       //                      'rgba(25, 139, 69, 1)',
       //                      'rgba(123, 119, 60, 1)',
       //                      'rgba(100, 109, 67, 1)',
       //                      'rgba(12, 34, 101, 1)',
       //                      'rgba(11, 24, 11, 1)',
       //                      'rgba(120, 64, 161, 1)',
       //                      'rgba(120, 74, 201, 1)',
       //                      'rgba(120, 84, 212, 1)',
       //                      'rgba(120, 94, 120, 1)',
       //                      'rgba(120, 124, 140, 1)',
       //                      'rgba(120, 24, 100, 1)',
       //                      'rgba(120, 34, 94, 1)',
       //                  ],
       //                  borderColor: [
       //                      'rgba(255,246,143,1)',
       //                      'rgba(54, 162, 235, 1)',
       //                      'rgba(255, 206, 86, 1)',
       //                      'rgba(75, 192, 192, 1)',
       //                      'rgba(153, 102, 255, 1)',
       //                      'rgba(252, 159, 62, 1)',
       //                      'rgba(21, 129, 61, 1)',
       //                      'rgba(25, 139, 69, 1)',
       //                      'rgba(123, 119, 60, 1)',
       //                      'rgba(100, 109, 67, 1)',
       //                      'rgba(12, 34, 101, 1)',
       //                      'rgba(11, 24, 11, 1)',
       //                      'rgba(120, 64, 161, 1)',
       //                      'rgba(120, 74, 201, 1)',
       //                      'rgba(120, 84, 212, 1)',
       //                      'rgba(120, 94, 120, 1)',
       //                      'rgba(120, 124, 140, 1)',
       //                      'rgba(120, 24, 100, 1)',
       //                      'rgba(120, 34, 94, 1)',
       //                  ],
       //                  borderWidth: 1
       //              }]
       //          },
       //          options: {
       //              responsive: false,
       //          }
       //      });
       //  }
       //

    </script>

</body>
</html>
