@model Loop.Web.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/main.min.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/0e62a71725.js" crossorigin="anonymous"></script>

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <div id="socialLoginList">
            <ul class="sociaz-media">
                @foreach (AuthenticationDescription p in loginProviders)
                {

                    <li>
                        @switch (p.AuthenticationType)
                        {
                            case "Facebook":
                                <button style="width: 40px; border-radius: 50%; background-color:#ffffff; color:#47b2e4; height: 60px; text-align:center; " type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"><i class="fab fa-facebook fa-3x" style="top:50%; left:50%"></i></button>
                                break;
                            case "Twitter":
                                <button style="width:10px; padding-right:15px; " type="submit" class="twitter" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"><i class="fa fa-twitter"></i></button>
                                break;
                            case "Google":
                                <button style="width: 40px; border-radius: 50%; background-color:#ffffff; color:#47b2e4; height: 60px; " type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"><i class="fab fa-google fa-3x"></i></button>
                                break;
                            case "Microsoft":
                                <button style="width:10px; padding-right:15px;" type="submit" class="btn btn-xsm microsoft" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"><i class="fa fa-windows"></i></button>
                                break;
                            default:
                                <button style="width:10px; padding-right:15px; " type="submit" class="btn btn-xsm" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType">@p.AuthenticationType.ToString()</button>
                                break;
                        }
                    </li>

                }
            </ul>
        </div>
    }
}


