@using Loop.Web.Models;
@model LoginViewModel

@{
    Layout = null;
    ViewBag.Title = "Log in";
}

<link href="~/Content/assets/img/favicon.png" rel="icon">
<link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->

<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link href="~/Content/vendor/secondary/main.min.css" rel="stylesheet" />
<link href="~/Content/vendor/secondary/style.css" rel="stylesheet" />
<link href="~/content/vendor/secondary/color.css" rel="stylesheet" />
<link href="~/content/vendor/secondary/responsive.css" rel="stylesheet" />

<div class="www-layout">
    <div class="gap no-gap signin whitish medium-opacity register">
        <div class="bg-image" style="background-image:url(../../Content/assets/1000.jpg)"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="big-ad">
                        <figure><img src="images/logo2.png" alt=""></figure>
                        <h1>Welcome to Loop</h1>
                        <p>
                            Loop is a social network made by developers <strong>for</strong> developers.
                            Our mission is to help developers write the script of the future. This means helping you
                            find and hire skilled developers for your business and providing them the tools they need to share knowledge and work effectively.
                        </p>
                        <div class="barcode">
                            <figure><img src="images/resources/Barcode.jpg" alt=""></figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="we-login-register">
                        <div class="form-title">
                            <i class="fa fa-key"></i>Sign In
                            <span>Sign Up now and meet the awesome friends around the world.</span>
                        </div>
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form" }))
                        {
                            <div class="we-form">

                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger " })
                                <h6 style="text-align:left;">Username</h6>
                                @Html.TextBoxFor(m => m.Username, new { @class = "textbox", placeholder = "Type your UserName" })
                                <h6 style="text-align:left;">Password</h6>
                                @Html.PasswordFor(m => m.Password, new { @class = "textbox", placeholder = "Type your Password" })
                                <input type="submit" class="we-form " value="Login" />
                            </div>
                        }
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

}