@using Loop.Web.Models;
@model RegisterViewModel

@{
    Layout = null;
    ViewBag.Title = "Register";
}
<link href="~/Content/css/main.min.css" rel="stylesheet" />
<link href="~/Content/css/weather-icon.css" rel="stylesheet" />
<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/color.css" rel="stylesheet" />
<link href="~/Content/css/responsive.css" rel="stylesheet" />

<div class="www-layout">
    <section>
        <div class="gap no-gap signin whitish medium-opacity register">
            <div class="bg-image" style="background-image:url(images/resources/theme-bg.jpg)"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="big-ad">
                            <figure><img src="images/logo2.png" alt=""></figure>
                            <h1>Welcome to Loop</h1>
                            <p>
                                Pitnik is a social network  that can be used to connect people. use this template for multipurpose social activities like job, dating, posting, bloging and much more. Now join & Make Cool Friends around the world !!!
                            </p>
                            <div class="barcode">
                                <figure><img src="images/resources/Barcode.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="we-login-register">
                            <div class="form-title">
                                <i class="fa fa-key"></i>Sign Up
                                <span>Sign Up now and meet the awesome friends around the world.</span>
                            </div>
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                            {
                                <div class="we-form">

                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary("", new { @class = "text-danger " })
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "textbox", placeholder = "Type your Email" })
                                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "textbox", placeholder = "Type your Email" })
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "textbox", placeholder = "Type your Password" })
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "textbox", placeholder = "Confirm your Password" })

                                    <input type="submit" class="we-form " value="Register" />

                                    @*<a class="with-smedia facebook" href="#" title="" data-ripple="">Register with facebook</a>
                                    <a class="with-smedia twitter" href="#" title="" data-ripple="">Register with twitter</a>
                                    <a class="with-smedia google" href="#" title="" data-ripple="">Register with Google</a>
                                    <a class="with-smedia microsoft" href="#" title="" data-ripple="">Register with Microsoft</a>*@
                                    <span>already have an account? <a class="we-account underline" href="#" title="">Sign in</a></span>
                                </div>
                            }
                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/Scripts/Custom/main.min.js"></script>
<script src="~/Scripts/Custom/script.js"></script>

<div class="col-md-4">
    <section id="socialLoginForm">
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}